meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="description", content="")
meta(name="author", content="")
link(rel="stylesheet", href="/css/style.css", type="text/css")
link(rel="shortcut icon", href="img/favicon.png")


