// SITE SCRIPTS
- if (settings.env == 'development')
  // script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')
  script(type='text/javascript', src='/js/base/bootstrap-custom.min.js')
  script(type='text/javascript', src="/js/base/utils.js")
  script(type='text/javascript', src="/js/base/main.js")
  script(type='text/javascript', src="/js/ui/Gmapper.js")
  script(type='text/javascript', src="/js/ui/ScrollVideo.js")
  script(type='text/javascript', src="/js/ui/ScrollMenu.js")
- else if (settings.env == 'production')
  script(type="text/javascript", src="/js/ohm.min.js?v=#{assetsVersion}")
