extends layout

block head
  meta(name='description', content='')
  meta(name='keywords', content='')
  link(rel='shortcut icon', href='img/favicon.ico')
  link(rel="stylesheet", href="/css/style.css", type="text/css")
