extends layout

block content
  #scrollTop
  #progress
  ul.parallaxNav
    li
      a(href='#one', data-anchor-target='#one') One
    li
      a(href='#two', data-anchor-target='#two') Two
    li
      a(href='#three', data-anchor-target='#three') Three
  .logo
  section#one
    .dark-overlay
  section#two
  section#three
    .dark-overlay

