doctype html
html(lang="en").no-js
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-touch-fullscreen", content="yes")
    title #{title}
    block head
    //////////////////////////////////////
    // MODERNIZR
    //////////////////////////////////////
    script(src="/components/modernizr/modernizr.js", type="text/javascript")
  body#skrollr-body
    block content
    include includes/dependencies
    include includes/scripts
    include includes/ga
