extends layout

block head
  meta(name='description', content='')
  meta(name='keywords', content='')
  link(rel='shortcut icon', href='img/drake/weiss-favicon.png')
  link(rel="stylesheet", href="/css/weiss.css", type="text/css" data-skrollr-stylesheet)
block content
  #scrollTop
  #progress
  header
    .wrapper
      .logo-head
      ul.nav
        li 
          a(href='#one', data-anchor-target='#one') Hurt?
        li 
          a(href='#two', data-anchor-target='#two') Dr. Weiss
        li
          a(href='#three', data-anchor-target='#three') Patients
        li
          a(href='#four', data-anchor-target='#four') The Office
  section#one
    h1#title Where Does It Hurt?
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque id leo sed condimentum. Donec dapibus sem sed enim tristique, ac pharetra velit blandit. Pellentesque nec fermentum mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed nec ullamcorper odio. Curabitur feugiat ligula nec nisi hendrerit semper. Vivamus vestibulum lectus magna, et convallis urna mollis cursus. Vestibulum vulputate diam urna, eu molestie odio pretium vitae.
  section#two
  section#three
  section#four
block extras
  include includes/parallax
  script(src="/js/weiss.js", type="text/javascript")

  

