extends layout

block head
  meta(name='description', content='')
  meta(name='keywords', content='')
  link(rel='shortcut icon', href='img/drake/weiss-favicon.png')
  link(rel="stylesheet", href="/css/weiss.css", type="text/css" data-skrollr-stylesheet)
block content
  #scrollTop
  #progress
  header
    .wrapper
      .logo-head
      ul.nav
        li 
          a(href='#one', data-anchor-target='#one') Hurt?
        li 
          a(href='#two', data-anchor-target='#two') Dr. Weiss
        li
          a(href='#three', data-anchor-target='#three') Patients
        li
          a(href='#office', data-anchor-target='#office') The Office
  section#one
    //
      h1#title Where Does It Hurt?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque id leo sed condimentum. Donec dapibus sem sed enim tristique, ac pharetra velit blandit. Pellentesque nec fermentum mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed nec ullamcorper odio. Curabitur feugiat ligula nec nisi hendrerit semper. Vivamus vestibulum lectus magna, et convallis urna mollis cursus. Vestibulum vulputate diam urna, eu molestie odio pretium vitae.
  section#two
  section#three
  section#office
    //
      .blurb
        h1 Our Staff
        p We love what we do, and we are committed to making sure your experience with Weiss Orthopaedics is as positive as possible. Our staff is extremely professional, knowledgeable, efficient, and friendly. There really is a difference. LEARN MORE
      .blurb
        h1 Insurance
        h2 Understanding Your Coverage
        p Dealing with insurance companies can be really confusing and frustrating for most patients, but not for us. Weiss Orthopaedics accepts nearly all insurances. 
      .blurb
        h1 Workers’ Compensation
        h2 What Are My Rights?
        p Workplace injuries have a very unique, and often confusing set of rules and regulations. Most injured workers do not understand their rights or their options. Here at Weiss Orthopaedics, our staff is highly experienced in managing and treating work-related injuries. We understand the complexities of the Workers’ Compensation system, and offer a wide array of services for our patients. Dr. Weiss is a Qualified Medical Examiner and with advanced subspecialty training in orthopedic trauma, Dr Weiss is uniquely qualified to care for all types of industrial injuries covered under Workers’ Compensation. We do not work for the Workers’ Compensation carrier or the employer; we work for you. LEARN MORE
      .blurb
        h1 Forms
        h2 What You Need to Fill Out
        p We know coming into the doctor’s office can be highly stressful and daunting, but to make your time with Weiss Orthopaedics the best it can be, one of our highly skilled Front Office Representatives will be sending you ‘New Patient’ forms to complete. Please have these forms completely filled out when you arrive – this will make your time in the office run more smoothly. A partial list is on our website, but if your carrier is not listed, please give us a call. Remember, please bring your insurance card into every appointment.
    #map_canvas
block extras
  include includes/weiss
