meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='description', content='')
meta(name='keywords', content='Ohm, Music, Ohm Music, Ohm Labs, Android, iPhone, media player, iPod, digital music, technology, ohm.fm, vinyl player, social media, social network, music network, photos, personalization')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
link(rel='shortcut icon', href='img/favicon.ico')
link(rel="stylesheet", href="/css/style.css", type="text/css" data-skrollr-stylesheet)
link(rel="shortcut icon", href="img/favicon.png")


