- if (dependencies.underscore)
  // Underscore
  script(src="/components/underscore/underscore.js", type="text/javascript")
- if (dependencies.jquery)
  // jQuery
  script(src="/components/jquery/jquery.min.js", type="text/javascript")
- if (dependencies.d3)
  // D3
  script(src="/components/d3/d3.min.js", type="text/javascript")
- if (dependencies.skrollr)
  // SKROLLR
  script(src="/components/skrollr/dist/skrollr.min.js", type="text/javascript")
  script(src="/components/skrollr-menu/dist/skrollr.menu.min.js", type="text/javascript")
  script(src="/components/skrollr-stylesheets/dist/skrollr.stylesheets.min.js", type="text/javascript")
- if (dependencies.socketio)
  // SOCKET.IO
  script(src="/components/socket.io-client/dist/socket.io.min.js", type="text/javascript")
- if (dependencies.gmaps)
  // GOOGLE MAPS need an API key
  script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=' + dependencies.gmaps + '&sensor=true&libraries=places')
