- if (dependencies.ga)
  //////////////////////////////////////
  // GOOGLE ANALYTICS
  //////////////////////////////////////
  script.
    (function(window, document, variableName, scriptElement, firstScript) {
      window['GoogleAnalyticsObject'] = variableName;
      window[variableName] || (window[variableName] = function() {
      (window[variableName].q = window[variableName].q || []).push(arguments);
      });
      window[variableName].l = +new Date;
      scriptElement = document.createElement('script'),
      firstScript = document.scripts[0];
      scriptElement.src = '//www.google-analytics.com/analytics.js';
      firstScript.parentNode.insertBefore(scriptElement, firstScript)
      }(window, document, 'ga'));
      ga('create', '#{dependencies.ga}');
      ga('send', 'pageview');
  // TODO: implement advanced Google Analytics tracking
  // https://github.com/h5bp/html5-boilerplate/blob/master/doc/extend.md#google-universal-analytics