// SITE SCRIPTS
- if (settings.env == 'development')
  script(src="/js/utils.js", type="text/javascript")
  script(src="/js/main.js", type="text/javascript")
  script(src="/js/gmapper.js", type="text/javascript")
- else if (settings.env == 'production')
  script(src="/js/boilerplate.min.js", type="text/javascript")
