- if (settings.env == 'development')
  script(src="/js/boilerplate.js", type="text/javascript")
- else if (settings.env == 'production')
  script(src="/js/boilerplate.min.js", type="text/javascript")
