// SCRIPTS
script(src="/components/jquery/jquery.min.js", type="text/javascript")
script(src="/components/modernizr/modernizr.js", type="text/javascript")
- if (settings.env == 'development')
  script(src="/js/boilerplate.js", type="text/javascript")
- else if (settings.env == 'production')
  script(src="/js/boilerplate.min.js", type="text/javascript")
