// SKROLLR
script(src="/components/skrollr/dist/skrollr.min.js", type="text/javascript")
script(src="/components/skrollr-menu/dist/skrollr.menu.min.js", type="text/javascript")
script(src="/components/skrollr-stylesheets/dist/skrollr.stylesheets.min.js", type="text/javascript")
// PARSE
script(src="http://www.parsecdn.com/js/parse-1.2.12.min.js", type="text/javascript")
// GOOGLE MAPS
script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyC4Tnw7DEdnK7-mr7MG0a60H9qTIE87NQc&sensor=true&libraries=places')
