// Hide from both screenreaders and browsers: h5bp.com/u
.hidden
  display: none !important
  visibility: hidden

//Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard: h5bp.com/p
  &.focusable
    &:active, &:focus
      clip: auto
      height: auto
      margin: 0
      overflow: visible
      position: static
      width: auto
// Hide visually and from screenreaders, but maintain layout
.invisible
  visibility: hidden

#paraBugger
  position: fixed
  bottom: 16px
  right: 30px
  color: red
  z-index: 1000
#general-error-wrapper
  display: none
  position: fixed
  bottom: 0
  width: 100%
  background-color: rgba(204,204,204,0.75)
  color: #333333
  text-align: center
  font-size: 20px
  z-index: 1000
  #general-error
    padding: 15px 25px

#lightbox_fade
  position: fixed
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.7)
  display: none
  top: 0
  left: 0
  z-index: 900
  .next, .last
    position: absolute
    font-size: 24px
  .next
    right: 0
  .last
    left: 0
ul.thumbnails
  max-width: 810px
  width: 100%
  max-height: 600px
  margin: 100px auto
  padding: 0
  overflow: scroll
  li
    float: left
    list-style: none
    padding: 0
    .thumbnail
      width: 250px
      height: 250px
      margin: 10px
ul.thumbnails-nav
  white-space: nowrap
  -webkit-overflow-scrolling: touch
  position: fixed
  bottom: 0
  left: 0
  height: 90px
  margin: 0 auto
  overflow: scroll
  max-width: 100%
  li
    display: inline-block
    white-space: normal
    float: none
    .thumbnail
      width: 75px !important
      height: 75px !important
      margin: 5px !important
#fullscreen_image
  display: table-cell
  vertical-align: middle
  img
    margin: auto
    max-width: 500px
    max-height: 700px
    display: block
@media only screen and (min-width: 320px) and (max-width: 960px)
  #fullscreen_image
    img
      max-width: 100%
  #lightbox_fade
    background: rgba(0,0,0,0.9)
  ul.thumbnails
    max-width: 480px
    li
      .thumbnail
        width: 140px
        height: 140px
        margin: 10px
  ul.thumbnails-nav
    max-width: 100%
@media only screen and (min-width: 320px) and (max-width: 540px)
  ul.thumbnails
    max-width: 320px
  ul.thumbnails-nav
    max-width: 100%
    