///////////////////////////////////////
//  Fonts                           //
/////////////////////////////////////
$helvetica: "Helvetica Neue", Helvetica, sans-serif
$hcb: 'HelveticaNeue-CB', 'HelveticaNeue-CondensedBold', 'HelveticaNeueBoldCondensed', 'HelveticaNeue-Bold-Condensed', 'Helvetica Neue Bold Condensed', 'HelveticaNeueBold', 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Impact', 'Arial Condensed Bold', sans-serif
// Default Text Shadow
$default-text-shadow-color: rgba(0,0,0, 0.8)
$default-text-shadow-blur: 3px
$default-text-shadow-v-offset: 3px
///////////////////////////////////////
//   Google Fonts                   //
/////////////////////////////////////
//@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Gravitas+One|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Abril+Fatface|Roboto+Condensed:300italic,400italic,700italic,400,300,700|Old+Standard+TT:400,400italic,700|Montserrat:400,700|Oswald:400:700:300|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Raleway:400,100,200,300,500,600,700,800,900)
/*
  Select Google Fonts:
  * font-family: 'Ubuntu', sans-serif
  * font-family: 'Gravitas One', cursive
  * font-family: 'Lato', sans-serif
  * font-family: 'Abril Fatface', cursive
  * font-family: 'Roboto Condensed', sans-serif
  * font-family: 'Old Standard TT', serif
  * font-family: 'Montserrat', sans-serif
  * font-family: 'Open Sans', sans-serif
  * font-family: 'Raleway', sans-serif
  * font-family: 'Oswald', sans-serif
  */
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.
//** Load fonts from this directory.
$icon-font-path: "/lib/bootstrap/fonts/"
//** File name for all font files.
$icon-font-name: "glyphicons-halflings-regular" !default
//** Element ID within SVG icon file.
$icon-font-svg-id: "glyphicons_halflingsregular" !default
///////////////////////////////////////
//  Colors                          //
/////////////////////////////////////
$light-grey: #ccc
$dark-grey: #222
$near-black: #111
$off-white: #fffffe
///////////////////////////////////////
//  Figures                         //
/////////////////////////////////////
$figure-padding: 1em
$figure-small: 13em
$figure-small-caption: 4em
$figure-medium: 18em
$figure-medium-caption: 5em
$figure-large: 38em
$figure-large-caption: 10em
